---
import { Image } from "astro:assets";
import Layout from "../layouts/BaseLayout.astro";
import GitHubIcon from "@components/GitHubIcon.astro";
import XIcon from "@components/XIcon.astro";
import "./index.css";

import heroImage from "@assets/hero.png";
import editingImage from "@assets/editing.png";
import replaceImage from "@assets/replace.png";
import sortImage from "@assets/sort.png";
import commandPaletteImage from "@assets/command-palette.png";
import perfImage from "@assets/perf.png";
import crossPlatformImage from "@assets/cross-platform.png";
import avatorImage from "@assets/kohii.jpg";
import DownloadButtons from "@components/DownloadButtons.astro";
---

<Layout title="SmoothCSV - The ultimate CSV editor for macOS & Windows">
  <main>
    <section class="w-full py-12 md:pt-24 lg:pt-32 grid-bg">
      <div class="container mx-auto">
        <div class="px-4 md:px-6">
          <div class="flex flex-col items-center space-y-8 text-center">
            <h1
              class="text-4xl font-bold tracking-tighter sm:text-5xl md:text-6xl lg:text-7xl"
            >
              The Ultimate CSV Editor
            </h1>
            <p class="mx-auto max-w-[700px] md:text-xl">
              SmoothCSV is a powerful and intuitive tool for editing CSV files.
            </p>
            <DownloadButtons />
            <Image
              src={heroImage}
              alt="Screenshot"
              class="w-full"
              width="1488"
            />
          </div>
        </div>
      </div>
    </section>
    <section class="w-full py-8 md:py-16">
      <div class="container mx-auto">
        <div class="px-4 lg:px-12">
          <div class="grid gap-6 md:grid-cols-3">
            <div class="flex flex-col space-y-4">
              <h2 class="text-xl md:text-3xl font-medium">Easy Editing</h2>
              <p>
                Edit your CSV files with an intuitive spreadsheet-like
                interface.
              </p>
            </div>
            <div class="md:col-span-2 border overflow-hidden rounded-xl">
              <Image
                src={editingImage}
                alt="Editing"
                class="w-full"
                width="950"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="w-full py-8 md:py-16">
      <div class="container mx-auto">
        <div class="px-4 lg:px-12">
          <div class="grid gap-6 md:grid-cols-3">
            <div class="flex flex-col space-y-4">
              <h2 class="text-xl md:text-3xl font-medium">Powerful Tools</h2>
              <p>
                Find and replace data, sort rows, and much more.<br />
                The command palette gives you quick access to all features.
              </p>
            </div>
            <div class="md:col-span-2 grid gap-2 lg:gap-3 lg:grid-cols-2">
              <div class="lg:col-span-2 border overflow-hidden shadow-md">
                <Image
                  src={replaceImage}
                  alt="Replace"
                  class="w-full"
                  width="950"
                />
              </div>
              <div class="border overflow-hidden rounded-md shadow-md">
                <Image src={sortImage} alt="Sort" class="w-full" width="468" />
              </div>
              <div class="border overflow-hidden rounded shadow-md">
                <Image
                  src={commandPaletteImage}
                  alt="Command Palette"
                  class="w-full"
                  width="468"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="w-full py-8 md:py-16">
      <div class="container mx-auto">
        <div class="px-4 lg:px-12">
          <div class="grid gap-6 md:grid-cols-3">
            <div class="flex flex-col space-y-4">
              <h2 class="text-xl md:text-3xl font-medium">Lightning Fast</h2>
              <p>Handle large CSV files with blazing speed and efficiency.</p>
            </div>
            <div class="md:col-span-2">
              <Image
                src={perfImage}
                alt="CSV opening performance for 100MB file. SmoothCSV is 12 times faster than Excel"
                class="w-full"
                width="952"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="w-full py-8 md:py-16">
      <div class="container mx-auto">
        <div class="px-4 lg:px-12">
          <div class="grid gap-6 md:grid-cols-3">
            <div class="flex flex-col space-y-4">
              <h2 class="text-xl md:text-3xl font-medium">Cross-Platform</h2>
              <p>
                SmoothCSV is available for Windows, macOS.<br />
                Coming soon to Linux.
              </p>
            </div>
            <div class="md:col-span-2">
              <div class="overflow-hidden rounded-xl">
                <Image
                  src={crossPlatformImage}
                  alt="Cross-Platform"
                  class="w-full"
                  width="952"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="w-full py-12 md:py-24 bg-gray-100">
      <div class="container px-4 md:px-6 mx-auto">
        <h2
          class="text-3xl font-bold tracking-tighter sm:text-5xl text-center mb-12"
        >
          Ready to Get Started?
        </h2>
        <div class="flex flex-col items-center space-y-8 text-center">
          <p class="mx-auto max-w-[700px] md:text-lg">
            Download SmoothCSV today and start editing your CSV files with ease.
          </p>
          <DownloadButtons />
        </div>
      </div>
    </section>
    <section class="w-full py-8 md:py-16">
      <div class="container mx-auto">
        <div class="px-4 lg:px-12">
          <div class="flex flex-col gap-4 md:gap-8 items-center text-center">
            <h2 class="text-xl md:text-3xl font-medium">About Me</h2>
            <div class="flex flex-col items-center gap-2">
              <Image
                src={avatorImage}
                alt="Avatar"
                class="w-20 h-20 rounded-full"
                width="80"
              />
              <h3 class="text-md font-medium">kohii</h3>
              <div class="text-gray-500 flex gap-2 items-center">
                <a
                  href="https://github.com/kohii"
                  title="kohii on GitHub"
                  class="p-1"
                >
                  <GitHubIcon class="w-6 h-6" />
                </a>
                <a
                  href="https://x.com/kohii00"
                  title="kohii00 on X"
                  class="p-1"
                >
                  <XIcon class="w-4 h-4" />
                </a>
              </div>
            </div>
            <div>
              <p class="text-secondary">
                I'm a full-stack developer, crafting SmoothCSV in my spare time
              </p>
              <p class="text-secondary [&>a]:text-link hover:[&>a]:underline">
                If you like SmoothCSV, feel free to <a
                  href="https://x.com/intent/post?text=Check%20out%20%23SmoothCSV%2C%20the%20ultimate%20%23CSVeditor%20for%20macOS%20and%20Windows!&url=https%3A%2F%2Fsmoothcsv.com%2F"
                  >share it on X</a
                >
                about it,
                <a href="https://github.com/kohii/smoothcsv3"
                  >star the repository on GitHub</a
                >, or <a href="https://buymeacoffee.com/kohii"
                  >buy me a coffee</a
                >.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
