---
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import Button from "./Button.astro";
import StyledText from "./StyledText.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

// Version is injected during build by CI
const VERSION = import.meta.env.PUBLIC_SMOOTHCSV_VERSION;
if (!VERSION || VERSION === "null") throw new Error("VERSION is not set");

const MAC_DOWNLOAD_URL = `https://github.com/kohii/smoothcsv3/releases/download/v${VERSION}/SmoothCSV_${VERSION}_universal.dmg`;
const WINDOWS_DOWNLOAD_URL = `https://github.com/kohii/smoothcsv3/releases/download/v${VERSION}/SmoothCSV_${VERSION}_x64_en-US.msi`;
---

<div class="group">
  <div class="flex gap-3 items-center justify-center flex-wrap">
    <a href={MAC_DOWNLOAD_URL}>
      <Button variant="primary" class="download-button">
        {t("download.mac")}
      </Button>
    </a>
    <a href={WINDOWS_DOWNLOAD_URL}>
      <Button variant="secondary" class="download-button">
        {t("download.windows")}
      </Button>
    </a>
  </div>
  <p class="text-xs text-gray-600 pt-2 opacity-0 group-hover:opacity-100 [&>a]:underline">
    <StyledText text={t("privacy.text")} />
  </p>
</div>
<script>
  function detectOS() {
    const userAgent = window.navigator.userAgent.toLowerCase();
    if (userAgent.indexOf("win") > -1) return "Windows";
    if (userAgent.indexOf("mac") > -1) return "macOS";
    return "Unknown";
  }

  function swapButtonStyles() {
    const os = detectOS();
    if (os === "Windows") {
      const buttons = document.querySelectorAll("button.download-button");
      buttons.forEach((button) => {
        if (button.classList.contains("primary")) {
          button.classList.remove("primary");
          button.classList.add("secondary");
        } else {
          button.classList.remove("secondary");
          button.classList.add("primary");
        }
      });
    }
  }

  swapButtonStyles();
</script>
